html {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #111;
    height: 100%;
}

img.headerimg {
display: block;
margin-left: auto;
margin-right: auto;
}

#opening {
line-height: 1.4em;
font-size: 1.4em;
margin-bottom: .8em;
}

body{
background: #FEFEFE;
}

#content {
font-size: 1em;
line-height: 1.2em;
padding: 1em;
margin-left: auto;
margin-right:auto;
margin-top: 0em;
width: 70%;
max-width: 800px;
margin-bottom:2em;
padding-bottom:1em;
}

#contact, h2, h3 {
background: #ddd;
padding: .5em;
}

#fwf {
font-family: Courier;
}

#menu {
text-align: center;
font-size: 1.2em;
}

a:link, a:visited {color: #222; text-decoration: underline; }
a:active, a:hover {color: #444; text-decoration: underline; }

hr {
    border: none;
    background-color: #aaa;
    color: #ccc;
    height: 1px;
}

#proceedings li {
    margin-bottom: 10px;
}

#organizers li {
    margin-bottom: 4px;
}


.paper-body {
    margin-top: 2px;
    margin-bottom: 4px;
    color: #777;
}

#twitterfollow {
    float: right;
    text-align: right;
}

#index {
    vertical-align: middle;
    font-style: bold;
    font-size: 1.8em;
}

#indexbox {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/* the following are for the grid spruce up */
/* this could break on some old browsers? */

#proceedings {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    overflow:hidden;
}

.grid-column-container {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    /*float:left;*/
    width:100%;
    overflow:hidden;
}

.grid-row {
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    clear:both;
    /*float:left;*/
    width:100%;
    overflow:hidden;
}

.grid-column {
    float:left;
    width: 33.333%;
}

.grid-session {
    float:left;
    margin:0px;
    /*width: 33.333%;*/
}

.grid-item {
    margin:2px;
    margin-top:4px;
    border:1px solid black;
    /*padding:5px;*/
    background-color:white;
}

.paper-title {
    background-color:black;
    padding:4px;
    padding-bottom:4px;
    text-align:center;
}
.paper-title a {
    color:white;
    text-decoration:none;
}
.paper-body {
    padding:6px;
    color:black;
    /*font-weight:bold;*/
}
.paper-authors {
    background-color:#ddd;
    color:grey;
    padding: 4px;
}
.session-name {
    text-align:center;
    vertical-align:center;
    margin:2px;
    border:2px solid black;
}
.session-name h3 {
    margin:0px;
    background-color:black;
    color:white;
    border:2px solid white;
}


.grid-session.wide {
    width: 100%;
}

/*body {
    background-image:url('dither_tile.png');
    background-attachment:fixed;
}*/

/*#proceedings h3 {
    margin: 2px;
    border:4px solid black;
}*/


